h1{
    color: deepskyblue;
    background-color:  black;
}

h2{
     color: deepskyblue;
    background-color:  black;
    text-align: center;
}

body{
    background-image: url(../images/monnhann.jpg)
}